{% autoescape on %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{% block title %}TSM项目管理{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">
    
    {% block head_js %}{% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		    <span class="navbar-brand-custom">TSM项目管理</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">账号：<!-- {{ request.session.gm_user }} --></p></li>
            <li><a href="/gmtools/logout">退出</a></li>
          </ul>
          <ul class="nav navbar-nav">
              <li><a href="#">今日进度</a></li>
              <li><a href="#">项目总览</a></li>
              <li><a href="#">用户管理</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="m_acc_query"><a href="/gmtools/account/query">账户查询</a></li>
            <li class="m_mail_query"><a href="/gmtools/mail_query">系统邮件查询</a></li>
            <li class="m_sendmail"><a href="/gmtools/sendmail">系统邮件发送</a></li>
            <li class="m_login_msg_set"><a href="/gmtools/login_message">登录公告设置</a></li>
            <li class="m_msg_broadcast"><a href="/gmtools/message_broadcast">消息广播</a></li>
            <li class="m_mall_mgr"><a href="/gmtools/mall_goods">商城管理</a></li>
            <li class="m_activity_mgr"><a href="/gmtools/activities">活动管理</a></li>
          </ul>
           <div class="nav nav-sidebar">
            <label class="col-sm-12 control-label" for="id_server_select">服务器选择</label>
            <div class="col-sm-12 control-label">
            <select name="server_select" class="server_select form-control" id="id_server_select" onchange="onChangeServer(this)">
            {% for key, sc in request.GAME_SERVER.items %}
              <option value="{{key}}" class="c_userid">{{sc.name}}</option>
            {% endfor %}
          </select>
          </div>
          </div>
       </div>-->
        <div class="main">
        {% block content %}
            <p>这里需要插入具体的内容</p>
        {% endblock %}
        </div>
      </div>
    </div>
 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/layer-2.1/layer.js"></script>
 <!--    <script>
    function onChangeServer(control)
    {
        $.ajax({
                url : "/gmtools/change_server",
                dataType : "json",
                data : { value : control.value }
            }).done(function(data, textStatus, jqXHR){
                    control.value = data.default;
                    if (data.state != "success")
                        alert("error: " + data.message + " (dbid: " + data.id + ")");
                    else
                        location.reload();
                });
    }
    
    $(".server_select").val("{{request.session.defaultServer}}")
    </script> -->
    {% block tail_js %}{% endblock %}
    </body>
</html>
{% endautoescape %}
