{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>创建任务</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- calendar stylesheet -->
    <link rel="stylesheet" type="text/css" media="all" href="/static/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />
    
    <!-- main calendar program -->
    <script type="text/javascript" src="/static/jscalendar-1.0/calendar.js"></script>
    
    <!-- language for the calendar -->
    <script type="text/javascript" src="/static/jscalendar-1.0/lang/calendar-en.js"></script>
    
    <!-- the following script defines the Calendar.setup helper function, which makes
       adding a calendar a matter of 1 or 2 lines of code. -->
    <script type="text/javascript" src="/static/jscalendar-1.0/calendar-setup.js"></script>

  </head>

    <body>
        <div>
        <form name="form-creat-task" method="post" action="/pm/creat_task">
        {% csrf_token %}
            <div class="form-group">
              <label class="col-sm-3 control-label" >任务名称</label>
              <div class="col-sm-9"><input name="task_name" type="text" class="form-control" id="id_task_name"/></div>
              <label class="col-sm-3 control-label" for="id_stop_time">截止时间</label>
              <div class="col-sm-9">
                <input name="stop_data" type="text" class="form-control" id="id_stop_data" value="{{act_start_time|escape}}"/>
                <button class="btn btn-default" id="id_stop_date_bnt">...</button>
              </div>
              <script type="text/javascript">
              Calendar.setup(
                {
                  inputField  : "id_stop_data",         // ID of the input field
                  ifFormat    : "%Y-%m-%d",    // the date format
                  button      : "id_stop_date_bnt",       // ID of the button
                  showsTime   : true,
                  timeFormat  : "24",
                }
              );
            </script>
            </div>
         {% if error %}<p class="text-danger">{{ error }}</p>{% endif %}
        {{sussess}}
        <div class="col-sm-2 col-sm-offset-3">
          <td><input type="submit" name="submit" id="submit" class="btn btn-default" value="提交">
              <input name="commit" type="hidden" id="commit" value="1"></td>
        </div>
        </form>
    </div>
    </body>
    <script type="text/javascript">
        function test(){
            name = $("#id_task_name").val();
            data = $("#id_stop_data").val();
            console.log(name);
            console.log(data);
        }


    </script>